.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.dropleft .dropdown-toggle::after {
  display: none;
}
.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-menu[x-placement^=top], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left] {
  right: auto;
  bottom: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}

.fade {
  transition: opacity 0.15s linear;
}
@media (prefers-reduced-motion: reduce) {
  .fade {
    transition: none;
  }
}
.fade:not(.show) {
  opacity: 0;
}

.collapse:not(.show) {
  display: none;
}

.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition: height 0.35s ease;
}
@media (prefers-reduced-motion: reduce) {
  .collapsing {
    transition: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: 71px 240px auto 390px;
  grid-template-rows: 46px auto;
  grid-template-areas: "BLG GN CI CI" "BLG CL CD UL";
  height: 100vh;
}
.content .bar-list-group {
  grid-area: BLG;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202225;
  padding: 11px 0;
  max-height: 100vh;
  overflow-y: scroll;
}
.content .bar-list-group::-webkit-scrollbar {
  display: none;
}
.content .bar-list-group .separator {
  font-size: 0.95em;
  font-weight: 400;
  color: #828386;
  text-align: center;
  margin: 5px 0 15px 0;
}
.content .bar-list-group .logo {
  margin-bottom: 20px;
}
.content .bar-list-group .group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: #36393f;
  position: relative;
  font-size: 2em;
  font-weight: 300;
  color: #828386;
}
.content .bar-list-group .group:hover, .content .bar-list-group .group.active {
  border: 1px solid #828386;
}
.content .bar-list-group .group.is-user {
  border: 2px solid #ffcd01;
}
.content .bar-list-group .group.is-user::after {
  display: none;
}
.content .bar-list-group .group.is-user span {
  position: absolute;
  bottom: -0.4px;
  right: -3px;
  background-color: #36393f;
  border: 3px solid #36393f;
  border-radius: 50%;
  font-size: 0.35em;
}
.content .bar-list-group .group.is-user span.fa-circle, .content .bar-list-group .group.is-user span.fa-circle-notch {
  color: #ffcd01;
}
.content .bar-list-group .group.is-user span.fa-minus-circle {
  color: #df684e;
}
.content .bar-list-group .group.is-user span.fa-dot-circle {
  color: #757f8b;
}
.content .bar-list-group .group .img-group {
  width: 53px;
  height: 53px;
  border-radius: 50%;
}
.content .bar-list-group .dropdown-menu {
  top: -60px !important;
  left: 197px !important;
  border-radius: 0;
  background-color: #202225;
}
@media only screen and (min-width: 1200px) {
  .content .bar-list-group .dropdown-menu {
    width: 190px;
  }
}
.content .bar-list-group .dropdown-menu .dropdown-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
}
.content .bar-list-group .dropdown-menu .dropdown-item:hover, .content .bar-list-group .dropdown-menu .dropdown-item:focus {
  background-color: #2f3136;
}
.content .bar-list-group .dropdown-menu .dropdown-item span {
  margin-right: 10px;
  font-size: 0.7em;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-circle, .content .bar-list-group .dropdown-menu .dropdown-item span.fa-circle-notch {
  color: #ffcd01;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-minus-circle {
  color: #df684e;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-dot-circle {
  color: #757f8b;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-sign-out-alt {
  color: #ffffff;
  font-size: 1.05em;
}
.content .group-name {
  grid-area: GN;
  background-color: #282a2e;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .group-name .dropdown-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
}
.content .group-name .dropdown-menu {
  top: 10px !important;
  border-radius: 0;
  background-color: #202225;
}
@media only screen and (min-width: 1200px) {
  .content .group-name .dropdown-menu {
    width: 190px;
    left: 15px !important;
  }
}
.content .group-name .dropdown-menu .dropdown-item {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.content .group-name .dropdown-menu .dropdown-item:hover, .content .group-name .dropdown-menu .dropdown-item:focus {
  background-color: #2f3136;
}
.content .channel-info {
  grid-area: CI;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 15px;
  background-color: #202225;
  z-index: 2;
}
.content .channel-info span {
  margin-right: 10px;
  font-size: 1em;
  color: #74777a;
}
.content .channel-info h2 {
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
}
.content .channel-list {
  grid-area: CL;
  display: flex;
  flex-direction: column;
  padding: 10px 10px 24px 10px;
  background-color: #2f3136;
  overflow-y: scroll;
}
.content .channel-list::-webkit-scrollbar {
  display: none;
}
.content .channel-list .container-channels {
  display: flex;
  flex-direction: column;
}
.content .channel-list .container-channels .category {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 5px 0;
}
.content .channel-list .container-channels .category .item-category {
  font-size: 0.9em;
  font-weight: 400;
  color: #8a8c90;
  text-transform: uppercase;
}
.content .channel-list .container-channels .category .item-category span {
  font-size: 0.75em;
  margin-left: 5px;
}
.content .channel-list .container-channels .category .add-channel span {
  font-size: 0.95em;
  color: #8a8c90;
}
.content .channel-list .container-channels .collapse ul,
.content .channel-list .container-channels .collapsing ul {
  list-style: none;
}
.content .channel-list .container-channels .collapse ul li,
.content .channel-list .container-channels .collapsing ul li {
  padding: 4px 0;
  width: 100%;
  background-color: transparent;
  transition: background-color 0.2s;
}
.content .channel-list .container-channels .collapse ul li:hover, .content .channel-list .container-channels .collapse ul li.active,
.content .channel-list .container-channels .collapsing ul li:hover,
.content .channel-list .container-channels .collapsing ul li.active {
  background-color: #36393f;
  transition: background-color 0.2s;
}
.content .channel-list .container-channels .collapse ul li:hover .item-channel, .content .channel-list .container-channels .collapse ul li.active .item-channel,
.content .channel-list .container-channels .collapsing ul li:hover .item-channel,
.content .channel-list .container-channels .collapsing ul li.active .item-channel {
  color: #ffffff;
}
.content .channel-list .container-channels .collapse ul li .item-channel,
.content .channel-list .container-channels .collapsing ul li .item-channel {
  display: flex;
  align-items: center;
  margin-left: 15px;
  display: flex;
  overflow: hidden;
  font-size: 1em;
  font-weight: 400;
  color: #828386;
  text-transform: lowercase;
}
.content .channel-list .container-channels .collapse ul li .item-channel span,
.content .channel-list .container-channels .collapsing ul li .item-channel span {
  margin-right: 5px;
}
.content .channel-list .container-channels .collapse ul li .item-channel:hover, .content .channel-list .container-channels .collapse ul li .item-channel:focus, .content .channel-list .container-channels .collapse ul li .item-channel:active, .content .channel-list .container-channels .collapse ul li .item-channel.active,
.content .channel-list .container-channels .collapsing ul li .item-channel:hover,
.content .channel-list .container-channels .collapsing ul li .item-channel:focus,
.content .channel-list .container-channels .collapsing ul li .item-channel:active,
.content .channel-list .container-channels .collapsing ul li .item-channel.active {
  background-color: #36393f;
  transition: background-color 0.2s;
}
.content .user-list {
  grid-area: UL;
  background-color: #2f3136;
  overflow-y: scroll;
}
.content .user-list::-webkit-scrollbar {
  width: 4px;
}
.content .user-list::-webkit-scrollbar-thumb {
  background-color: #202225;
  border-radius: 4px;
}
.content .user-list::-webkit-scrollbar-track {
  background-color: #2f3136;
}
.content .user-list .container-users {
  padding: 10px 15px 0 15px;
}
.content .user-list .container-users .type {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.content .user-list .container-users .type p {
  font-size: 1.1em;
  font-weight: 400;
  color: #8a8c90;
}
.content .user-list .container-users .type span {
  font-size: 1.1em;
  font-weight: 400;
  color: #8a8c90;
}
.content .user-list .container-users .list {
  list-style: none;
}
.content .user-list .container-users .list.moderator li .user-item .user p {
  color: #ffcd01;
}
.content .user-list .container-users .list li {
  padding: 10px 15px;
}
.content .user-list .container-users .list li:hover {
  background-color: #202225;
}
.content .user-list .container-users .list li:hover .user-item span {
  display: inline;
  font-size: 1em;
  color: #ffffff;
}
.content .user-list .container-users .list li .user-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .user-list .container-users .list li .user-item::after {
  display: none;
}
.content .user-list .container-users .list li .user-item .user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.content .user-list .container-users .list li .user-item .user .img-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.content .user-list .container-users .list li .user-item .user p {
  font-size: 1em;
  font-weight: 400;
  color: #8a8c90;
  overflow: hidden;
}
.content .user-list .container-users .list li .user-item span {
  display: none;
}
.content .user-list .container-users .list li .dropdown-menu {
  background-color: #202225;
  padding: 0;
}
@media only screen and (min-width: 1200px) {
  .content .user-list .container-users .list li .dropdown-menu {
    width: 300px;
    top: -55px !important;
    left: -330px !important;
  }
}
.content .user-list .container-users .list li .dropdown-menu .close {
  position: absolute;
  top: 5px;
  right: 5px;
  cursor: pointer;
}
.content .user-list .container-users .list li .dropdown-menu .close span {
  font-size: 1.5em;
  color: #8a8c90;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-user {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-user .img-user {
  width: 95px;
  height: 95px;
  border-radius: 50%;
  margin-top: 30px;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-user p {
  font-size: 1.4em;
  font-weight: 400;
  color: #8a8c90;
  margin: 15px;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-role-user {
  background-color: #2f3136;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 15px;
}
@media only screen and (min-width: 1200px) {
  .content .user-list .container-users .list li .dropdown-menu .dropdown-role-user {
    height: 120px;
    padding: 15px 40px;
  }
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-role-user .form-role {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-role-user .form-role label {
  font-size: 1.1em;
  font-weight: 400;
  color: #ffffff;
  margin-right: 15px;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-role-user .form-role .check-input {
  color: #40444b;
  border: 1px solid #ffffff;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-role-user a {
  font-size: 1.1em;
  font-weight: 400;
  color: #ffffff;
  margin-top: 15px;
}
.content .user-list .container-users .list li .dropdown-menu .dropdown-role-user a:hover {
  color: #8a8c90;
  text-decoration: underline;
}