.dropup,
.dropright,
.dropdown,
.dropleft {
  position: relative;
}

.dropdown-toggle {
  white-space: nowrap;
}
.dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-bottom: 0;
  border-left: 0.3em solid transparent;
}
.dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 1rem;
  color: #212529;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.dropdown-menu-left {
  right: auto;
  left: 0;
}

.dropdown-menu-right {
  right: 0;
  left: auto;
}

@media (min-width: 576px) {
  .dropdown-menu-sm-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-sm-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 768px) {
  .dropdown-menu-md-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-md-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 992px) {
  .dropdown-menu-lg-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-lg-right {
    right: 0;
    left: auto;
  }
}
@media (min-width: 1200px) {
  .dropdown-menu-xl-left {
    right: auto;
    left: 0;
  }

  .dropdown-menu-xl-right {
    right: 0;
    left: auto;
  }
}
.dropup .dropdown-menu {
  top: auto;
  bottom: 100%;
  margin-top: 0;
  margin-bottom: 0.125rem;
}
.dropup .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0;
  border-right: 0.3em solid transparent;
  border-bottom: 0.3em solid;
  border-left: 0.3em solid transparent;
}
.dropup .dropdown-toggle:empty::after {
  margin-left: 0;
}

.dropright .dropdown-menu {
  top: 0;
  right: auto;
  left: 100%;
  margin-top: 0;
  margin-left: 0.125rem;
}
.dropright .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0;
  border-bottom: 0.3em solid transparent;
  border-left: 0.3em solid;
}
.dropright .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropright .dropdown-toggle::after {
  vertical-align: 0;
}

.dropleft .dropdown-menu {
  top: 0;
  right: 100%;
  left: auto;
  margin-top: 0;
  margin-right: 0.125rem;
}
.dropleft .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.255em;
  vertical-align: 0.255em;
  content: "";
}
.dropleft .dropdown-toggle::after {
  display: none;
}
.dropleft .dropdown-toggle::before {
  display: inline-block;
  margin-right: 0.255em;
  vertical-align: 0.255em;
  content: "";
  border-top: 0.3em solid transparent;
  border-right: 0.3em solid;
  border-bottom: 0.3em solid transparent;
}
.dropleft .dropdown-toggle:empty::after {
  margin-left: 0;
}
.dropleft .dropdown-toggle::before {
  vertical-align: 0;
}

.dropdown-menu[x-placement^=top], .dropdown-menu[x-placement^=right], .dropdown-menu[x-placement^=bottom], .dropdown-menu[x-placement^=left] {
  right: auto;
  bottom: auto;
}

.dropdown-divider {
  height: 0;
  margin: 0.5rem 0;
  overflow: hidden;
  border-top: 1px solid #e9ecef;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 0.25rem 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}
.dropdown-item:hover, .dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #f8f9fa;
}
.dropdown-item.active, .dropdown-item:active {
  color: #fff;
  text-decoration: none;
  background-color: #007bff;
}
.dropdown-item.disabled, .dropdown-item:disabled {
  color: #6c757d;
  pointer-events: none;
  background-color: transparent;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-header {
  display: block;
  padding: 0.5rem 1.5rem;
  margin-bottom: 0;
  font-size: 0.875rem;
  color: #6c757d;
  white-space: nowrap;
}

.dropdown-item-text {
  display: block;
  padding: 0.25rem 1.5rem;
  color: #212529;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Source Sans Pro", sans-serif;
}

a {
  text-decoration: none;
}
a:hover, a:focus, a:active {
  text-decoration: none;
}

.content {
  display: grid;
  grid-template-columns: 71px 240px auto 390px;
  grid-template-rows: 46px auto 52px;
  grid-template-areas: "BLG GN CI CI" "BLG CL CD UL" "BLG CL CD UL";
  height: 100vh;
}
.content .bar-list-group {
  grid-area: BLG;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #202225;
  padding: 11px 0;
  max-height: 100vh;
  overflow-y: scroll;
}
.content .bar-list-group::-webkit-scrollbar {
  display: none;
}
.content .bar-list-group .separator {
  font-size: 0.95em;
  font-weight: 400;
  color: #828386;
  text-align: center;
  margin: 5px 0 15px 0;
}
.content .bar-list-group .logo {
  margin-bottom: 20px;
}
.content .bar-list-group .group {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  width: 55px;
  height: 55px;
  margin-bottom: 15px;
  border-radius: 50%;
  background-color: #36393f;
  position: relative;
  font-size: 2em;
  font-weight: 400;
  color: #828386;
}
.content .bar-list-group .group:hover, .content .bar-list-group .group.active {
  border: 1px solid #828386;
}
.content .bar-list-group .group.is-user {
  border: 2px solid #ffcd01;
}
.content .bar-list-group .group.is-user::after {
  display: none;
}
.content .bar-list-group .group.is-user span {
  position: absolute;
  bottom: -0.4px;
  right: -3px;
  background-color: #36393f;
  border: 3px solid #36393f;
  border-radius: 50%;
  font-size: 0.35em;
}
.content .bar-list-group .group.is-user span.fa-circle, .content .bar-list-group .group.is-user span.fa-circle-notch {
  color: #ffcd01;
}
.content .bar-list-group .group.is-user span.fa-minus-circle {
  color: #df684e;
}
.content .bar-list-group .group.is-user span.fa-dot-circle {
  color: #757f8b;
}
.content .bar-list-group .group .img-group {
  width: 53px;
  height: 53px;
  border-radius: 50%;
}
.content .bar-list-group .dropdown-menu {
  top: -60px !important;
  left: 197px !important;
  border-radius: 0;
  background-color: #202225;
}
@media only screen and (min-width: 1200px) {
  .content .bar-list-group .dropdown-menu {
    width: 190px;
  }
}
.content .bar-list-group .dropdown-menu .dropdown-item {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  color: #ffffff;
}
.content .bar-list-group .dropdown-menu .dropdown-item:hover, .content .bar-list-group .dropdown-menu .dropdown-item:focus {
  background-color: #2f3136;
}
.content .bar-list-group .dropdown-menu .dropdown-item span {
  margin-right: 10px;
  font-size: 0.7em;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-circle, .content .bar-list-group .dropdown-menu .dropdown-item span.fa-circle-notch {
  color: #ffcd01;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-minus-circle {
  color: #df684e;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-dot-circle {
  color: #757f8b;
}
.content .bar-list-group .dropdown-menu .dropdown-item span.fa-sign-out-alt {
  color: #ffffff;
  font-size: 1.05em;
}
.content .group-name {
  grid-area: GN;
  background-color: #2f3136;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.content .group-name .dropdown-settings {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  font-size: 1em;
  font-weight: 400;
  color: #ffffff;
}
.content .group-name .dropdown-menu {
  top: 10px !important;
  border-radius: 0;
  background-color: #202225;
}
@media only screen and (min-width: 1200px) {
  .content .group-name .dropdown-menu {
    width: 190px;
    left: 15px !important;
  }
}
.content .group-name .dropdown-menu .dropdown-item {
  padding: 5px 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
}
.content .group-name .dropdown-menu .dropdown-item:hover, .content .group-name .dropdown-menu .dropdown-item:focus {
  background-color: #2f3136;
}
.content .channel-list {
  grid-area: CL;
  background-color: #2f3136;
  z-index: 1;
}