.content {
  // BLG = bar list group
  // GN = group name
  // CI = channel info
  // CL = channel list
  // CD = channel data
  // UL = user list
  display: grid;
  // grid-template-columns: 71px 240px 1fr 390px;
  grid-template-columns: 71px 240px auto 390px;
  grid-template-rows: 46px auto;
  grid-template-areas:
    "BLG GN CI CI"
    "BLG CL CD UL";
  height: 100vh; //view height

  .bar-list-group {
    grid-area: BLG;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: $tertiary;
    padding: 11px 0;
    max-height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .separator {
      font-size: 0.95em;
      font-weight: 400;
      color: $senary;
      text-align: center;
      margin: 5px 0 15px 0;
    }

    .logo {
      margin-bottom: 20px;
    }

    .group {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;

      width: 55px;
      height: 55px;
      margin-bottom: 15px;
      border-radius: 50%;

      background-color: $primary;
      position: relative;

      font-size: 2em;
      font-weight: 300;
      color: $senary;

      &:hover,
      &.active {
        border: 1px solid $senary;
      }

      &.is-user {
        border: 2px solid $full-cycle;

        &::after {
          display: none;
        }

        span {
          position: absolute;
          bottom: -0.4px;
          right: -3px;
          background-color: $primary;
          border: 3px solid $primary;
          border-radius: 50%;

          font-size: 0.35em;

          &.fa-circle,
          &.fa-circle-notch {
            color: $full-cycle;
          }

          &.fa-minus-circle {
            color: #df684e;
          }

          &.fa-dot-circle {
            color: #757f8b;
          }
        }
      }

      .img-group {
        width: 53px;
        height: 53px;
        border-radius: 50%;
      }
    }

    .dropdown-menu {
      top: -60px !important;
      left: 197px !important;
      border-radius: 0;
      background-color: $tertiary;

      @include respond-to($_1200) {
        width: 190px;
      }

      .dropdown-item {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        color: $white;

        &:hover,
        &:focus {
          background-color: $secondary;
        }

        span {
          margin-right: 10px;
          font-size: 0.7em;

          &.fa-circle,
          &.fa-circle-notch {
            color: $full-cycle;
          }

          &.fa-minus-circle {
            color: #df684e;
          }

          &.fa-dot-circle {
            color: #757f8b;
          }

          &.fa-sign-out-alt {
            color: $white;
            font-size: 1.05em;
          }
        }
      }
    }
  }

  .group-name {
    grid-area: GN;

    background-color: #282A2E;
    padding: 0 10px;

    display: flex;
    align-items: center;
    justify-content: center;

    .dropdown-settings {
      display: flex;
      align-items: center;
      justify-content: space-between;

      width: 100%;

      font-size: 1em;
      font-weight: 400;
      color: $white;
    }

    .dropdown-menu {
      top: 10px !important;
      border-radius: 0;
      background-color: $tertiary;

      @include respond-to($_1200) {
        width: 190px;
        left: 15px !important;
      }

      .dropdown-item {
        padding: 5px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: $white;

        &:hover,
        &:focus {
          background-color: $secondary;
        }
      }
    }
  }

  .channel-info {
    grid-area: CI;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 15px;
    background-color: $tertiary;
    z-index: 2;

    span {
      margin-right: 10px;
      font-size: 1em;
      color: $symbol;
    }

    h2 {
      font-size: 1em;
      font-weight: 400;
      color: $white;
    }
  }

  .channel-list {
    grid-area: CL;

    display: flex;
    flex-direction: column;
    padding: 10px 10px 24px 10px;

    background-color: $secondary;

    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .container-channels {
      display: flex;
      flex-direction: column;

      .category {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 5px 0;

        .item-category {
          font-size: 0.9em;
          font-weight: 400;
          color: $gray;
          text-transform: uppercase;

          span {
            font-size: 0.75em;
            margin-left: 5px;
          }
        }

        .add-channel {
          span {
            font-size: 0.95em;
            color: $gray;
          }
        }
      }

      .collapse, .collapsing {
        ul {
          list-style: none;

          li {
            padding: 4px 0;
            width: 100%;
            background-color: transparent;
            transition: background-color .2s;

            &:hover,
            &.active {
              background-color: $primary;
              transition: background-color .2s;

              .item-channel {
                color: $white;
              }
            }

            .item-channel {
              display: flex;
              align-items: center;
              
              margin-left: 15px;
              display: flex;

              overflow: hidden;

              font-size: 1em;
              font-weight: 400;
              color: $senary;
              text-transform: lowercase;

              span {
                margin-right: 5px;
              }

              &:hover, &:focus, &:active, &.active {
                background-color: $primary;
                transition: background-color .2s;
              }
            }
          }
        }
      }
    }
  }
}
