.content {

    // SL = server list
    // SN = server name
    // CI = channel info
    // SS = server search
    // CL = channel list
    // CD = channel data
    // UL = user list
    display: grid;
    grid-template-columns: 71px 240px auto 390px;
    grid-template-rows: 46px auto 52px;
    grid-template-areas: 
        'SL SN CI SS'
        'SL CL CD UL'
        'SL CL CD UL'
    ;
    height: 100vh; //view height


    .server-list {
        grid-area: SL;

        display: flex;
        flex-direction: column;
        align-items: center;
        
        background-color: $tertiary;
        padding: 11px 0;
        max-height: 100vh;
        overflow-y: scroll;

        &::-webkit-scrollbar {
            display: none;
        }

        .separator {
            font-size: 0.95em;
            font-weight: 400;
            color: $senary;
            text-align: center;
            margin: 5px 0 15px 0;
        }

        .logo {
            margin-bottom: 20px;
        }

        .group {
            display: flex;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;

            width: 55px;
            height: 55px;
            margin-bottom: 15px;
            border-radius: 50%;

            background-color: $primary;
            cursor: pointer;

            &:hover {
                border: 1px solid $senary;
            }

            &.active {
                border: 1px solid $senary;
            }

            &.is-user {
                border: 2px solid $full-cycle;
            }
        }
    }
    
}