// bootstrap componentes
// @import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

// dropdown
@import "~bootstrap/scss/dropdown";
// collapse
@import "~bootstrap/scss/transitions";
// modal
@import "~bootstrap/scss/modal";
// forms
@import "~bootstrap/scss/forms";
@import "~bootstrap/scss/input-group";
@import "~bootstrap/scss/button-group";
@import "~bootstrap/scss/buttons";

// project
@import "main/mixins";
@import "main/assets";
@import "main/variables";
@import "main/page";
@import "main/login";
